.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Segmentation_Refinement_With_Stardist.iml
.idea/vcs.xml
Data/R_Fragment_range41_1370_t0000001.tiff
Data/R_Fragment_range41_1370_t0000002.tiff
Data/R_Fragment_range41_1370_t0000003.tiff
